<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>dispaly_webpage</h1>
        <table border="5px">
            <tr>
                <th>TOPIC_NAME</th>
                <th>NAME</th>
                <th>URL</th>
            </tr>
        {% for wo in QSWO %}
            <tr>
               <td>{{wo.topic_name}}</td>
               <td>{{wo.name}}</td>
               <td>{{wo.url}}</td>
            </tr>
            
        {% endfor %}
        </table>
    </center>
</body>
</html>